.subFormContainer {
    display: flex;
    flex-direction: column;
    width: 10em;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 5px;
    padding: 20px;
    justify-content: space-between;
}

.formDetails {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.formContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
    font-family: system-ui,'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
}

.formToggler {
    margin-top: 5%;
}